img{
	height: 100px;
	width: 80px;	
}
.nom{
	text-align: right;
	margin-right:40px; 

}
header{
	border-bottom: 1px solid grey;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navlink{
	display: inline-block;
	vertical-align: center;
	padding: 10px;
	text-decoration:none;
	color:#007fff;
}
.container{
	width: 80%;
	max-width: 800px;
	margin: auto;
}
.container h2{
	margin-left: 50px;
}
.articles_section{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.article{
	width: 44%;
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	border: 1px solid rgb(192,192,192);
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	align-items: center;
	padding: 4px;
}
#trait{
   margin-left: 575px;
   border-bottom:1px solid grey;
   width: 200px;
   margin-bottom: 30px;
   margin-top: 30px;
}
footer{
	border-top: 1px
}
.footer{
	background-color: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer .navlink, .copyright{
	color: grey;
}
.footer .navbar ul{
	justify-content: center;
}
.copyright{
	text-align: center;
}
.voir_plus{
	margin-left: 60px;
	font-style: italic;
	color:#007fff;
}
.visite{
	color: rgb(192,192,192);
	font-size: 0.8em;
}
.menu{
top: 0px;
margin-left:0px;
height: 0px;
width: 0px;
}
@media all and (max-width: 768px)
{
 .article{
 	width: 100%;
 	height: auto;
	display: block;
	padding: 10px;
}
img{
	margin-left: 100px;
	width: 100px;
	height: 100px;
	display: block;
	margin-right: auto;
	margin-left: auto;}
.voir_plus{
	font-style: italic;
	color:#007fff;
	margin-left: 230px;
}
.visite{
	color: rgb(192,192,192);
	font-size: 0.8em;
	text-align: right;
	display: flex;
    margin-left: 180px;
	text-align: justify;
}
#trait{
   margin-left: auto;
   border-bottom:1px solid grey;
   width: auto;
   margin-bottom: 30px;
   margin-top: 30px;
   
}
header{
	border-bottom: none;
}
.nom{ font-size: 1.2em;
	margin-right: 20px;
    text-align: right; }
.container h2{
	margin-left: 12px;
	font-size: 1em;
}
.menu{
position: absolute;
top: 0px;
margin-left:35px;
height: 45px;
width: 50px;
}
.navbar ul{
    display: none;
}
.footer.navlink{
	display: none;
	padding: 0px;
}

.footer .navbar ul{
	justify-content: center;
	display: block;
}
.copyright{
	margin-left: 45px;
}
}


